.detailhero__background {
  background-image: url(/images/recipes/single-big.jpg);
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 767px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.recipe-detail__meta {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  padding-top: 64px;
  padding-bottom: 70px;
}

.recipe-detail__meta > h2 {
  font-weight: 600;
  font-size: 36px;
  color: #474747;
  line-height: 1.2;
  text-align: left;
}

.recipe-detail__beginner {
  display: inline-block;
  background: #ff2a6b;
  color: #fff;
  font-size: 16px;
  padding: 14px 20px 12px 30px;
  position: relative;
  margin-bottom: 10px;
}

.recipe-detail__date {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #a4a4a4;
  margin-bottom: 30px;
}

.recipe-detail__rating {
  margin-bottom: 55px;
  font-family: "Poppins", sans-serif;
}

.recipe-detail .recipe__rating > li > i {
  margin-right: 2px;
  color: #fbb710;
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
}

.recipe-detail__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.recipe-detail__filter-warp {
  background: #eff3f7;
}

.recipe-detail__filter-top {
  padding-right: 110px;
  overflow: hidden;
}

.recipe-detail__filter-top-text {
  background: #ff2a6b;
  padding: 22px 50px;
  position: relative;
}

.recipe-detail__filter-top-text > p {
  margin-bottom: 0;
  color: #fff;
  font-size: 15px;
  position: relative;
  line-height: 2.1;
}

.recipe-detail__filter-form-content {
  padding: 55px;
  padding-right: 30px;
}

.recipe-detail__filter-form-content > h2 {
  font-weight: 600;
  margin-bottom: 35px;
  margin: 0;
  color: #474747;
  font-size: 36px;
}

.recipe-detail__filter-form {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.recipe-detail__check-warp {
  display: block;
  margin-bottom: 25px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.recipe-detail__check-warp > input[type="checkbox"] {
  width: 0;
  opacity: 0;
}

.recipe-detail__check-warp > input[type="checkbox"]:checked + label::before {
  background-color: deeppink;
}

.recipe-detail__check-warp > input[type="checkbox"]:checked + label::after {
  content: "";
  border-color: white;
}

.recipe-detail__check-warp > label {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0 0 0 2rem;
  cursor: pointer;
}

.recipe-detail__check-warp > label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid deeppink;
  border-radius: 4px;
}

.recipe-detail__check-warp > label::after {
  position: absolute;
  top: 2px;
  left: 6px;
  display: inline-block;
  width: 4px;
  height: 8px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.recipe-detail__info-list {
  list-style: none;
  padding-left: 17px;
}

.recipe-detail__info-list > li {
  margin-bottom: 50px;
}

.recipe-detail__info-list > li > h2 {
  float: left;
  font-weight: 600;
  min-width: 60px;
  color: #474747;
  font-size: 36px;
}

.recipe-detail__info-list > li > p {
  padding-left: 70px;
  margin-bottom: 0;
  padding-top: 13px;
  font-size: 14px;
  color: #838383;
  line-height: 2.1;
}
/*# sourceMappingURL=detail.css.map */