* {
  font-family: "Poppins", sans-serif;
}

.top-bar {
  padding: 8px 0;
  color: #fff;
  background-color: deeppink;
}

.top-bar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-bar__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  position: relative;
}

.top-bar__icon-list > li {
  margin-right: 30px;
}

.top-bar__icon-list > li > a {
  color: white;
}

.top-bar__link-wrapper {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.top-bar__link-wrapper > a {
  text-decoration: none;
  color: white;
}

.top-nav {
  background-color: white;
  color: black;
  padding: 8px 0;
}

.top-nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.top-nav__menu-wrapper > ul {
  display: none;
}

@media only screen and (min-width: 992px) {
  .top-nav__menu-wrapper > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.top-nav__menu-wrapper > ul > li {
  padding: 23px;
  font-weight: bold;
}

.top-nav__menu-wrapper > ul > li > a {
  text-decoration: none;
  color: grey;
}

.top-nav__menu-wrapper > ul > li > a:hover {
  color: deeppink;
  cursor: pointer;
}

.top-nav__search {
  background: deeppink;
  border-radius: 4px;
  padding: 10px;
}

.top-nav__search > a > i {
  color: white;
}

.top-nav__logo-wrapper {
  width: 30%;
}

.top-nav__switch button > i {
  position: relative;
  display: block;
  float: right;
  width: 38px;
  height: 38px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 24px;
}

@media only screen and (min-width: 992px) {
  .top-nav__switch {
    display: none;
  }
}

.top-nav__switch:hover + .top-nav__switch-content {
  display: block;
}

.top-nav__switch-content {
  display: none;
}

.top-nav__switch:hover + .top-nav__switch-content {
  display: block;
  position: absolute;
  background-color: whitesmoke;
  top: 100%;
  left: 0;
  width: 100%;
}

.top-nav__switch:hover + .top-nav__switch-content > ul > li > a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-left: 0;
  padding: 13px 20px;
  border-top: 1px solid #ededed;
}
/*# sourceMappingURL=header.css.map */
